<html>
  <head>
    <title>Add-to-org demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/style.css">
    <!--[if lt IE 9]>
      <script src="/vendor/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/vendor/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
